<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet" href="/css/users.css">
    </head>
    <body>
      <h1>  ByteChat <%=title%> </h1>
      <p><%=user.name%></p>
      <p><%=user.email%></p>
    </body>
</html>